body {
    background-color: #2d2f33;
}

#videoPlayer {
    width: 80%;
}

#videoContainer {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically (if height is defined) */
}