body {
    background-color: #2d2f33;
    color:white;
}

#videoPlayer {
    width: 80%;
}

#videoContainer {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically (if height is defined) */
}

#controlsContainer {
    width: 70%;      /* match video width */
    margin: 0 auto; /* center it */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

#controlsContainer select {
    flex: 1;
    min-width: 0; /* important in flex layouts */
}

.controlsRow {
    display: flex;
    align-items: center;     /* Centers vertically (if height is defined) */
    gap: 10px;
}

.controlButton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    border-radius: 0;
    width: 50px;
}

.playFileButton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    border-radius: 0;
}

#controlsContainer select {
    width:50%;
}
